/* Use Quicksand as the default sans serif font. */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --color1:#025159;
  --color2:#03A696;
  --color3:#04BF9D;
  --color4:#6EBF34;
  --color5:#f2f2f2;
  --color6:#032f34;
}

* {
  font-family: 'Quicksand', sans-serif;
}


/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  --bs-body-bg: #ffffff;
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.circle {
  border-radius: 100%;
  width:75%;
  border: solid;
  border-color: var(--color4);
  border-width: 5px;
}

.color1 {
  background-color: var(--color1);
  color: white;
}

.color2 {
  background-color: var(--color2);
  color: white;
}

.color3 {
  background-color: var(--color3);
  color: white;
}

.color4 {
  background-color: var(--color4);
  color: white;
}

.color5 {
  background-color: var(--color5);
}

.landing-background {
  background: url('/images/Doing-Volunteer-Work.jpg') fixed center;
  background-size: cover;
  color: white;
  min-height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.landing-link {
  color: gold !important;
  font-size: 20px !important;
  text-decoration: none !important;
}

.landing-link:hover {
  color: darkgoldenrod !important;
}

.btn-outline-light-landing {
  color: white !important;
  border-color: white !important;
  font-size: 20px !important;
  padding: 12px 26px !important;
  transition: all 0.3s ease-out !important;
}

.btn-outline-light-landing:hover {
  border-color: #f8f9fa !important;
  background-color: #f8f9fa !important;
  color: black !important;
}

.btn-light {
  border-color: #f8f9fa !important;
  font-size: 20px !important;
  padding: 12px 26px !important;
  transition: all 0.3s ease-out !important;
}

.btn-light:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: #f8f9fa !important;
}

.about-background {
  background: url('/images/beachCleanAbout.jpg') center;
  background-size: cover;
  color: white;
  height: 57vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.login {
  background-color: var(--color1);
  color: white !important;
}

.login-text {
  color: white !important;
  text-decoration: none;
}

.login-text:hover {
  text-decoration: underline;
}

.under-login {
  background-color: var(--color2) !important;
  color: white !important;
}

.login-background {
  background-color: var(--color6);
  height: 600px;
}

.signup-background {
  background-color: var(--color6);
  height: 800px;
}

.faq-header {
  font-weight: bold;
}

.edit-page-background {
  background-color: var(--color2);
  background-size: cover;
  height: 600px;
}

.formCSS .btn {
  --bs-btn-color: black !important;
  --bs-btn-bg: gold !important;
  --bs-btn-border-color: gold !important;
  --bs-btn-hover-bg: darkgoldenrod !important;
  --bs-btn-hover-border-color: darkgoldenrod !important;
}

.formCSS .btn:disabled {
  --bs-btn-disabled-bg: darkgoldenrod !important;
  --bs-btn-disabled-border-color: darkgoldenrod !important;
  --bs-btn-disabled-opacity: 0.5 !important;
}

.formCSS .card {
  background-color: var(--color2) !important;
  color: white;
  border-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0;
  --bs-success-rgb: gold;
}

.formCSS .alert {
  background-color: var(--color1) !important;
  color: white;
  border-color: var(--color1) !important;
  border-radius: 0;
  --bs-link-hover-color: white;
}