/* Define styles for larger screens */
@media only screen and (min-width: 768px) {
  .calendar-card {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Define styles for smaller screens */
@media only screen and (max-width: 390px) {
  .calendar-card {
    width: 79vw !important; /* 90% of viewport width */
    height: 79vw !important; /* 90% of viewport width */
  }
}