/* Styling for EventCard.jsx and OrgEventCard.jsx components */

.flex-wrap-buttons {
  flex-wrap: wrap;
}

.event-card {
  transition: 0.25s;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.15);
  height: 550px !important;
  margin-right: -5px !important;
  margin-left: -5px !important;
}
.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 6px 10px 12px 0 rgba(0,0,0,0.15);
}

.event-image {
  width: 100%;
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
}

.event-title {
  font-size: 1.1em !important;
  font-weight: bold !important;
  max-height: 60px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.event-description {
  height: 100px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.host-link {
  color: var(--color2) !important;
  text-decoration: none;
}

.host-link:hover {
  color: var(--color1) !important;
}