.centeredImage {
  width: 95%;
  margin: 0 auto;
  display: block;
}

.card {
  display: block;
  border-radius: 20px !important;
  margin: 0 auto;
}

.eventDetailsLeft {
  background: #6EBF34;
}

.eventDetailsRight {
  background: gold;
}