/* Styling only for Footer component */

#footer-container {
  padding-top: 15px !important;
}

.footer-link {
  color: var(--color2) !important;
}

.footer-link:hover {
  color: var(--color1) !important;
}