.event-border {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.event-image {
  display: flex;
  align-items: center;
  max-height: 100px;
}

.event-date {
  font-weight: bold;
  font-size: 13px;
}

.event-title {
  font-size: 17px;
  font-weight: bold;
  color: #03A696;
  font-weight: bold;
  text-decoration: none;
}
